<div class="container">
  <h2>Itinerary Listing</h2>
  <div class="col-12">
    <% if current_user.user? %>
      <%= link_to "New Itinerary", new_itinerary_path, class: "btn  btn-outline-secondary btn-sm float-right mb-2" %>
    <% end %>
  </div>
  <table class=" table table-striped sortable">
    <thead>
      <tr>
        <th>Itinerary name</th>
        <th>From - To date/Duration</th>
        <th>Members</th>
        <th>Status</th>
        <th>Client</th>
        <th>Price</th>
        <th colspan="2">Action</th>
        
      </tr>
    </thead>
    <tbody>
      <% @resources.each do |itinerary| %>
        <tr>
          <td><%= link_to itinerary.name, itinerary_path(itinerary) %></td>
          <td><%= from_to_date(itinerary)  %></td>
          <td><%= itinerary.members%></td>
          <td><%= itinerary.status %></td>
          <td><%= itinerary.client.get_client_name %></td>
          <td><%= itinerary.price %></td>
          <td><%= link_to("View", itinerary_path(itinerary)) %></td>
          <td><%= link_to "Delete", itinerary_path(itinerary), method: :delete, data: {confirm: "Are you sure?"} %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
  <div id="paginate">
    <%= paginate @resources, theme: 'twitter-bootstrap-4' %>
  </div>
</div>