<div class="row">
  <div class="col-12">
    <span class="d-inline-block"><h5><b>Name: </b> <%= @resource.name %></h5></span>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="row mt-2">
      <div class="col-6">
       <span class="d-inline-block"><b>From-To: </b><%= from_to_date(@resource) %></span>
     </div>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="row mt-2">
      <div class="col-6">
        <span class="d-inline-block"><b>Status: </b><%= @resource.status %></span>
      </div>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="row mt-2">
      <div class="col-6">
      <% if @resource.min_members.present? && @resource.max_members.present? %>
        <span class="d-inline-block"><b>Members: </b><%= @resource.min_members %></span>-
        <span class="d-inline-block"><b></b><%= @resource.max_members %></span>
      <% else %>
        <span class="d-inline-block"><b>Members: </b>Not fixed</span>
      <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col-6">
       <!-- <span class="d-inline-block"><b>Transport Type: </b><%#= @resource&.transport_type&.name %></span> -->
     </div>
    <div class="col-6">
      <!-- <span class="d-inline-block"><b>Price: </b><%#= @resource.price %></span> -->
    </div>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="row mt-2">
      <div class="col-6">
       <span class="d-inline-block"><b>Duration: </b><%= @resource.duration+' '+@resource.duration_type %></span>
     </div>
    <div class="col-6">
       <!-- <span class="d-inline-block"><b>Expenses: </b><%#= @resource.expenses %></span> -->
    </div>
  </div>
  </div>
</div>
<br>
<% @duration_count =  @resource.duration_type == "Hours" ? 1 : @resource.duration.to_i  %>

<% for i in 1..@duration_count %>
  <div class="row">
    <div class="col-10">
      <div class="card">
        <div class="card-header">
        Day <%= i %> - <b><%= @resource.start_date ? (@resource.start_date.to_date+i-1).strftime("%d %B %Y") : 'Not Fixed' %></b>
        <%= link_to 'Delete', delete_itinerary_schedule_itinerary_path(itinerary_schedule_id: @resource&.itinerary_schedules[i-1]), method: :delete, data: {confirm: "Are you sure?"}, class: 'ml-5' if @resource.duration.to_i > 1 && @resource.itinerary_schedules[i-1].present? && @resource.duration_type == 'Days' %>
        </div>
        <div class="card-body">
          <% if @resource.itinerary_schedules.includes(:itinerary_products).present? %>
            <div class="row">
              <% if @resource.itinerary_schedules[i-1]&.itinerary_products.present? %>
                <h5 class="col-12 mb-3">Products: </h5>
                <div class="col-10">
                  <% @resource.itinerary_schedules[i-1].itinerary_products.includes(:product).each do |itinerary_product| %>
                    <div class="row mb-2">
                      <%= hidden_field_tag 'itinerary_product_id', itinerary_product.id, class: 'itinerary_product_id' %>
                      <div class="col-3">
                        <%= select_tag :schedule_id, options_from_collection_for_select(Schedule.all,'id','name', selected: itinerary_product.schedule_id), prompt: 'Please select', id: 'schedule_id', class: 'form-control schedule' %>
                      </div>
                      <div class="col-3">
                        <div class="input-group bootstrap-timepicker timepicker">
                          <%= text_field_tag :timing, itinerary_product.timing&.strftime("%H:%M"), class: "form-control product_timings input-small timepicker1" %>
                          <span class="input-group-addon timepicker_addon"><i class="far fa-clock" aria-hidden="true"></i></span>
                        </div>
                      </div>
                      <div class="col-2">
                        <span class="mr-2"><%= link_to itinerary_product.product&.name, product_path(itinerary_product.product), target: "_blank" %></span>
                      </div>
                      <div class="col-2">
                        <%= text_area_tag :description, itinerary_product.description, rows: 1, cols: 20, class: 'itinerary_product_description' %>
                      </div>
                      <div class="col-2">
                        <%= link_to(image_tag('remove.png'), delete_itinerary_products_itinerary_path(itinerary_product_id: itinerary_product.id),method: :delete, data: {confirm: "Are you sure?"},class: 'float-right') %>
                      </div>

                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
            <br>
          <% end %>
          <div class="row">
            <div class="col-3 mr-3 mt-1">
               Add products
            </div>

            <div class="col-4"> 
              <%= link_to(image_tag('add.png'), show_nearby_products_products_path(itinerary_schedule_id: @resource.itinerary_schedules[i-1]&.id),:"data-turbolinks" => false) if @resource.itinerary_schedules[i-1].present? %>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div><br>
<% end %>

<br>
<%= link_to 'Add new Schedule', add_new_schedule_itinerary_itinerary_path, class: 'btn btn-primary' if @resource.duration_type == 'Days' %>  

<script>
  $('.timepicker1').timepicker().on('hide.timepicker', function(e) {
    var timing = $(this).val();
    var itinerary_product_id = $(this).parent().parent().siblings('.itinerary_product_id').val();
    if (timing != ""){
      $.ajax({
        url: '<%= update_intinerary_products_itineraries_path %>',
        type: 'Patch',
        data: {timing: timing,itinerary_product_id: itinerary_product_id },
        dataType: 'script'
      })
    }
  })
$('.schedule').on('blur',function(){
    var schedule_id = $(this).val();
    var itinerary_product_id = $(this).parent().siblings('.itinerary_product_id').val();
    if (schedule_id != ""){
      $.ajax({
        url: '<%= update_itinerary_product_schedule_itineraries_path %>',
        type: 'Patch',
        data: {schedule_id: schedule_id,itinerary_product_id: itinerary_product_id },
        dataType: 'script'
      })
    }
  })

$('.itinerary_product_description').on('blur',function(){
    var description = $(this).val();
    var itinerary_product_id = $(this).parent().siblings('.itinerary_product_id').val();
    if (description != ""){
      $.ajax({
        url: '<%= update_itinerary_product_description_itineraries_path %>',
        type: 'Patch',
        data: {description: description,itinerary_product_id: itinerary_product_id },
        dataType: 'script'
      })
    }
  })
</script>



