<div class="container">
  <h2>Template Listing</h2>
  <div class="col-12">
    <% if current_user.admin? %>
      <%= link_to "New Template", new_category_template_path, class: "btn  btn-outline-secondary btn-sm float-right mb-2" %>
    <% end %>
  </div>
  <table class=" table table-striped sortable">
    <thead>
      <tr>
        <th>Template name</th>
        <th>Created Time</th>
        <th colspan="4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @resources.each do |template| %>
        <tr>
          <td><%= link_to template.template_name, category_template_path(template) %></td>
          <td><%= template.created_at.strftime("%d-%b-%-y") %></td>
          <% if current_user.admin? %>
            <td><%= link_to 'View', category_template_path(template) %></td>
            <td><%= link_to("Edit", edit_category_template_path(template)) %></td>
            <td><%= !template.category.present? ? (link_to "Delete only template", category_template_path(template), method: :delete, data: {confirm: "Are you sure?"}) : "Can't be deleted" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id="paginate">
    <%= paginate @resources, theme: 'twitter-bootstrap-4' %>
  </div>
</div>