<%= bootstrap_form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.text_field :name, required: true %>
    <% if @resource.products.count > 0 %>
      <p>Template: <%= @resource.category_template.template_name %></p>
    <% else %>
      <%= f.select :category_template_id, CategoryTemplate.all.collect { |x| [x.template_name, x.id.to_i]}, {label: "Choose your favorite template" } %>
    <% end %>
    <%= f.submit "Submit", class: 'btn btn-sm btn-success' %>
    <%= link_to "Back", categories_path, class: 'btn btn-sm btn-info' %>
<% end %>