<div class="container">
  <h2>Category Listing</h2>
  <div class="col-12">
    <% if current_user.admin? %>
      <%= link_to "New Category", new_category_path, class: "btn  btn-outline-secondary btn-sm float-right mb-2" %>
      <%= link_to "New Product", new_product_path, class: "btn  btn-outline-secondary btn-sm float-right mb-2 mr-2" %>
    <% end %>
  </div>
  <table class=" table table-striped sortable">
    <thead>
      <tr>
        <th>Category name</th>
        <th>Created Time</th>
        <th>Product count</th>
        <th>Template</th>
        <th colspan="4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @resources.each do |category| %>
        <tr>
          <td><%= link_to category.name, category_path(category) %></td>
          <td><%= category.created_at.strftime("%d-%b-%-y") %></td>
          <td><%= category.products.count %></td>
          <td><%= category.category_template.template_name if category.category_template %></td>
          <td><%= link_to "View products", products_path(category_id: category.id) %></td>
          <% if current_user.admin? %>
            <td><%= link_to("Edit", edit_category_path(category)) %></td>
            <td><%= link_to "Delete only category", category_path(category), method: :delete, data: {confirm: "Are you sure?"} %></td>
            <td><%= link_to "Delete category with products", delete_category_with_products_category_path(category), method: :delete, data: {confirm: "Are you sure?"} %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id="paginate">
    <%= paginate @resources, theme: 'twitter-bootstrap-4' %>
  </div>
</div>