<div class="container">
  <div class="col-12">
    <%= link_to "New Cat1egory", new_category_path, class: "btn  btn-outline-secondary btn-sm float-right" %>
  </div>
  <table class=" table table-striped sortable">
    <thead>
      <tr>
        <th>Category name</th>
        <th>Created Time</th>
        <th>Product count</th>
      </tr>
    </thead>

   <tbody>
     <% @resources.each do |category| %>
       <tr>
        <td><%= link_to category.name, category_path(category) %></td>
        <td><%= category.created_at.strftime("%d-%b-%-y") %></td>
        <td><%= category.products.count %></td>
        <td><%= link_to("Edit", edit_category_path(category)) %></td>
        <td><%= link_to "Delete", category_path(category), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
     <% end %>
   </tbody>
 </div>
 <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>