<%= bootstrap_form_for @resource, html: {multipart: true} do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>  
  <%= f.text_field :name, required: true %>
  <%= f.text_field :price, required: true, label: 'Price (in $)' %>
  <%= f.file_field :images, multiple: true %>
  <%#= exit %>
  <%= f.select :category_ids, Category.all.collect { |x| [x.name, x.id.to_i]}, {label: "Choose your favorite category",:include_blank => false, include_hidden: false, :selected => params[:cat_id].present? ?  params[:cat_id] : f.object.categories.ids}, :multiple => true%>
  <br>
  <% if @resource.persisted? %>
    <%= render 'map' %>
  <% end %>
  <%= f.submit "Submit", class: 'btn btn-sm btn-success' %>
  <%= link_to "Back", products_path, class: 'btn btn-sm btn-info' %>
<% end %>


