 <% if error %>
  <div class= "error_message">
    <span><%= error %></span>
  </div>
<% end %>
<% rates.each do |rate| %>
  <div>
    <%= render "products/rating_star_image", rate: rate %>
    <br>
    <h5><b><%= rate.comment %></b></h5>
    <span class= "rating_comment_user_info">By <%= rate.rater.name %> on <%= rate.created_at.strftime('%d %B %Y') %></span>
    <br>
  </div>
  <hr>
<% end %>