<div id="product" data-role="<%= current_user.role %>" data-latitude="<%= current_user.latitude %>" data-longitude="<%= current_user.longitude %>" data-array="<%= @nearby_products %>" data-categories="<%= @product_categories.to_json %>"></div>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<br>

<div class='row'>
  <div class="col-12">
    <div class="form-group">
      <label for="product_address">Address</label>
      <input class="form-control" type="text" value= <%= @user_location.present? ? @user_location.address : '-' %>  id="product_address" placeholder="Enter a location" autocomplete="off">
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="product_city">City</label>
      <input readonly="readonly" class="form-control" type="text" value=<%= @user_location.present? ? @user_location.city : '-'%>  id="product_city">
    </div>

    <div class="form-group">
      <label >State</label>
      <input readonly="readonly" class="form-control" type="text" value= <%= @user_location.present? ? @user_location.state : '-' %> id="product_state">
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label>Country</label>
      <input readonly="readonly" class="form-control" type="text" value=<%=@user_location.present? ?  @user_location.country : '-' %>  id="product_country">
    </div>

    <div class="form-group">
      <label>Pincode</label>
      <input readonly="readonly" class="form-control" type="text" value=<%= @user_location.present? ? @user_location.postal_code : '-'%>  id="product_pincode">
    </div>

  </div>
</div>
<br>
<div class="row">
  <div class="col-6">
    <span><h4>Product Listing</h4></span>
  </div>
  <div class="col-6">
    <button type="button" class="btn btn-primary add_itinarary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Add Itinarary</button>

    <%#= link_to "Add Itinarary", '#',class: 'btn btn-info add_itinarary float-right', id: 'itinarary_modal' %>
  </div>
  <br>
</div>
<dir class="row">
  <%= render 'product_listing', resources: @resources %>
</div>