<div class="row">
  <div class="col">
     <div class="wrap">
        <% if @resource.name.present? %>
          <div class="mb-3"><p><b>Name: </b> <%= @resource.name %></p></div>
        <% end %>

        <% if @resource.price.present? %>
          <div class="mb-3"><p><b> Price: </b><%= (@resource.currency.present? ? @resource.currency : '')  + @resource.price.to_s %></p></div>
        <% end %>
        <div class="mb-3"><p><b> Categories: </b> <%= @resource.categories.map { |e| e.name  }.join(', ') %></p></div>

        <% if @resource.description.present? %>
          <div class="mb-3"><p><b> Description: </b><%= @resource.description %></p></div>
        <% end %>

        <% if @resource.short_description.present? %>
          <div class="mb-3"><p><b> Short description: </b><%= @resource.short_description %></p></div>
        <% end %>

        <% if @resource.product_type.present? %>
          <div class="mb-3"><p><b>Type: </b> <%= @resource.product_type.name %></p></div>
        <% end %>

        <% if @resource.timings.present? %>
          <table class="table">
            <thead>
              <tr>
                <th>Day</th>
                <th>Open Time</th>
                <th>Close Time</th>
              </tr>
            </thead>

            <tbody>
              <% Product::WEEK_DAYS.each do |day| %>
                <% if @resource.timings.try(:[], day).present? %>
                  <tr>
                    <th><%= day %></th>
                    <th><%= @resource.timings.try(:[], day).try(:[], 'open_time') %></th>
                    <th><%= @resource.timings.try(:[], day).try(:[], 'close_time') %></th>
                  </tr>
                <% end %>
              <% end %>

            </tbody>
          </table>
        <% end %>

        <% if @resource.entry_fee_adult.present? %>
          <div class="mb-3"><p><b>Entry Fee Adult: </b><%= @resource.entry_fee_adult %></p></div>
        <% end %>

        <% if @resource.entry_fee_toddler.present? %>
          <div class="mb-3"><p><b>Entry Fee Toddler: </b><%= @resource.entry_fee_toddler %></p></div>
        <% end %>

        <% if @resource.entry_fee_child.present? %>
          <div class="mb-3"><p><b>Entry Fee Child: </b><%= @resource.entry_fee_child %></p></div>
        <% end %>

        <% if @resource.entry_fee_senior_citizen.present? %>
          <div class="mb-3"><p><b>Entry Fee Senior citizen: </b><%= @resource.entry_fee_senior_citizen %></p></div>
        <% end %>

        <% if @resource.entry_fee_foreigner.present? %>
          <div class="mb-3"><p><b>Entry Fee Foreigners: </b><%= @resource.entry_fee_foreigner %></p></div>
        <% end %>

        <% if @resource.ratings.present? %>
          <div class="mb-3"><p><b>Rating: </b><%= @resource.ratings %></p></div>
        <% end %>

        <% if @resource.parking_type.present? %>
          <div class="mb-3"><p><b>Parking Type: </b><%= @resource.parking_type %></p></div>
        <% end %>

        <% if @resource.parking_fees.present? %>
          <div class="mb-3"><p><b>Parking Fees: </b><%= @resource.parking_fees %></p></div>
        <% end %>


        <div class="">
          <div class="d-block align-top mb-3"><b>Images:</b></div>
            <div class="d-block align-top">
              <% @resource.multiple_images.each do |image| %>
                <div class="d-inline-block ">
                  <%= link_to(image_tag(image, class: 'product_image_size mr-3'), image, 'data-lightbox' => 'roadtrip') %>
                  <span class="d-block">
                    <%= link_to 'delete', delete_image_product_path(@resource, image),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
                  </span>
                </div>
              <% end %>
              <%= link_to(image_tag(@resource.image, class: 'product_image_size mr-3'), @resource.image, 'data-lightbox' => 'roadtrip') if @resource.image.attached? %>
              <%#= image_tag @resource.image, class: 'product_image_size mr-3' if @resource.image.attached? %>
            </div>
        </div><br>
        <% if @resource.latitude.present? && @resource.longitude.present? %>
          <%= render 'map' %>
        <% end %>
        Rating  : <%= rating_for @resource, 'ratings', star: 5, params: {id: @resource.id}, data: { turbolinks: false }  %>
        <%= form_tag({:controller => "rater", :action => 'update'}, {:method => :put}) do %>
          Comment: <%= text_field_tag :comment  %>
          <%= submit_tag "Submit" %>
        <% end %>
        <div class="mt-4">
          <%= link_to "Back", products_path, class: 'btn btn-sm btn-info' %>
          <% if current_user.admin? %>
            <td><%= link_to "Edit", edit_product_path(@resource) , class: 'btn btn-sm btn-primary'  %></td>
            <td><%= link_to "Delete", product_path(@resource), method: :delete, data: {confirm: "Are you sure?"},class: 'btn btn-sm btn-danger' %></td>
          <% end %>
        </div>
      </div>
    </div>
</div>
<br>
<% if  current_user.user? %>
  <%  if current_user.voted_up_on? @resource %>
    <%= image_tag asset_path('liked.png'), class: 'product_like'%>
    <span class="like_count ml-2"><%= @resource.get_likes.size %></span>
  <% else %>
   <%= link_to (image_tag asset_path('like.png'), class: 'product_like'), like_product_path(@resource), method: :put, remote: true %>
   <span class="like_count ml-2"><%= @resource.get_likes.size %></span>
  <% end %>
<% end %>
<br><br>